{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
    {% for m in messages %}
    <p class="bg-success text-white p-3">{{m}}</p>
    {% endfor %}
    
{% endif %}
<h1>profile page</h1>
<h1>Hello {{user}}</h1>
<a class="btn btn-info" href="{% url 'pass_change' %}">Change Password</a>
<a class="btn btn-warning" href="{% url 'pass_change2' %}">Change Password without old pass</a>


<form method="post" style="width: 50%; margin:auto" novalidate> 
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white p-3">{{er}}</p>
    {% endfor %}
    {% endif %}
    {% for fm in form %}

    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}

    {% endfor %}
    <button class="btn btn-primary" type="submit">Change Data</button> 
</form>
{% endblock  %}